stages:
  - build
  - renovate

include:
  - project: open/ci-templates
    file: kaniko.yml

kaniko:
  stage: build
  extends: .kaniko-gitlab
  script:
    - /kaniko/executor --context . --destination $CI_REGISTRY_IMAGE:latest

renovate:
  stage: test
  extends: .renovate
  variables:
    RENOVATE_GIT_AUTHOR: "renovate <morre+renovate@mor.re>"
    RENOVATE_LOG_LEVEL: "debug"
