stages:
  - build
  - renovate

include:
  - project: open/ci-templates
    file: kaniko.yml
  - project: open/ci-templates
    file: renovate.yml

kaniko:
  stage: build
  extends: .kaniko-gitlab
  script:
    - /kaniko/executor --context . --destination $CI_REGISTRY_IMAGE:latest
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

renovate:
  stage: renovate
  extends: .renovate
  variables:
    RENOVATE_GIT_AUTHOR: "renovate <renovate@mor.re>"
