default_stages: [commit]
repos:
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
    args: [--target-version, py38]

- repo: https://github.com/PyCQA/isort
  rev: 5.8.0
  hooks:
  - id: isort

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: requirements-txt-fixer

- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.0
  hooks:
  - id: flake8
